.i{
    display: flex; 
}

.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-desc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right{
    flex: 1.2;
    position: relative; 
}

.i-left-wrapper{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro{
    font-size: 30px;
    font-weight: 300;
}

.i-name{
    font-size: 60px;
}

.i-title{
    height: 50px;
    overflow: hidden;
}

.i-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate; 
}

@keyframes move{
    0%{
        color: #23a6d5;
    }
    
    25%{
        transform: translateY(-50px);
        color: #e5b6eb;
    }
    50%{
        transform: translateY(-100px);
        color: #f3e1b0; 
    }
    75%{
        transform: translateY(-150px);
        color: #23a6d5;
    }
    100%{
        transform: translateY(-200px);
        color: #23d5ab;
    }
}

.i-title-item{
    height: 50px; 
    font-size: 30px;
    font-weight: bold; 
    display: flex;
    align-items: center;
    animation: move infinite;
}

.i-scroll{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
}

.i-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; 
}

.i-bg{
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background: linear-gradient(-45deg, #e5b6eb, #f3e1b0, #23a6d5, #23d5ab);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 480px){
    .i{
        flex-direction: column;
    }

    .i-left{
        flex: none;
    }

    .i-intro{
        font-size: 15px;
        font-weight: 100;
    }

    .i-bg{
        width: 150%;
        height: 50%;
    }

    .i-title-item{
        height: 50px; 
        font-size: 20px;
        font-weight: bold; 
        display: flex;
        align-items: center;
        animation: move infinite;
    }

    .i-name{
        font-size: 55px;
    }

    .i-img{
        display: none;
    }

    .i-bg{
        display: none;
    }
    .i-right{
        display: none;
    }
}