
.f{
   display: flex;
   justify-content: center;
   align-items: center;
}

.f-card{
    background: white;
    padding: 0.5rem 0.5rem;
}

.f-card p{
    padding-top: .5rem;
    line-height: 150%;
    width: 100%; 
}

.f-align{
    display: inline-block
}


.f-expand{
    width: 30rem; 
}

.f-caption{
    width: 0;
  min-width: 100%;
    font-weight: 100;
}

.f-img{
    width: 300px; 
    border-radius: 30px;
    padding: 10px 10px;
}

.f-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media screen and (max-width: 480px){

    .f-expand{
        width: 100%; 
    }
    
}